<section id="self">

	<div class="block tabs is-large">
		<ul>
			<li><a hx-get="/" hx-target="#self">Current Week</a></li>
			<li class="is-active"><a>Recipes</a></li>
			<!-- <li><a hx-get="/pantry" hx-target="#self">Pantry</a></li> -->
		</ul>
	</div>

	<div class="section">
		<div class="columns is-multiline">
			<div class="column is-one-third">
				<input class="input is-medium" type="search" name="searchTerm" placeholder="Search"
					hx-get="/recipes/more?page=1&pageSize=9" hx-trigger="input changed delay:500ms, search"
					hx-target="#recipes-cards">
			</div>
		</div>
		<div id="recipes-cards" class="columns is-multiline">
			{{template "recipes-content" .View.RecipesCards}}
		</div>
	</div>

</section>